{
    "presets": [
      // ["env", {
      //   "targets": {
      //     "browsers": ["last 2 versions", "ie >= 11"]
      //   },
      //     "useBuiltIns": false
      // }],
      "@babel/preset-env",
      "@babel/preset-react",
      "@quasar/babel-preset-app"
    ], 
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-transform-runtime"
    ],
    "sourceType": "unambiguous"
  }